node_modules

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Keep environment variables out of version control
.env
.env.*
!.env.example

# Build outputs
build
dist

# Generated Prisma client outputs
/generated/prisma
generated

# TypeScript incremental build info
*.tsbuildinfo

# OS-specific cruft
.DS_Store

